<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">add_circle</mat-icon> Agregar acciones propuestas</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  
  <p class="ms-font-roboto">¿Está seguro de agregar las acciones propuestas</p>
  <br>
  
  <mat-progress-bar class="w3-margin-bottom" mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>No</button>
  <button mat-raised-button color="primary" (click)="save()">Si, agregar</button>
</mat-dialog-actions>
