<h1 class="ms-font-rubik ms-color-bt" style="font-size:1.3em" mat-dialog-title><mat-icon style="vertical-align:middle">delete</mat-icon> Borrar cliente</h1>
<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
  <p class="ms-font-poppins ms-color-2b" style="font-size:1em">¿Está seguro de borrar este cliente?</p>
  <p class="w3-margin-bottom"> </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" class="w3-margin-right w3-margin-bottom" mat-dialog-close>No</button>
  <button mat-raised-button color="warn" class="w3-margin-bottom" (click)="delete()" [disabled]="uploading">Si, borrar</button>
</mat-dialog-actions>