<div class="w3-section">
  <button mat-button (click)="toggleSidenav()" class="w3-margin-bottom"><mat-icon>menu</mat-icon> Menu</button>
  <h1 class="ms-font-rubik ms-color-2b" style="font-size:1.5em;"><mat-icon style="vertical-align:middle; font-size: 30px; width:30px; height: 30px">verified_user</mat-icon> Seguridad</h1>
  <mat-divider></mat-divider>

  <div class="ms-config-wraper">

    <div class="w3-padding w3-round-large w3-margin mat-elevation-z8">
      <h2 class="ms-font-poppins ms-color-bt" style="font-size:1.2em;font-weight: 600;"><mat-icon style="vertical-align:middle">account_circle</mat-icon> Supervisores de seguridad</h2>
      <mat-form-field color="primary" class="w3-block">
        <mat-label>Agregar</mat-label>
        <input matInput type="text" [formControl]="securitySupervisorsFormControl"
                placeholder="Escriba y seleccione ..." (keyup.enter)="addSecuritySupervisors()"
                [matAutocomplete]="autoSecuritySupervisors">
        <mat-hint>Presione ENTER para agregar</mat-hint>
      </mat-form-field>
      <mat-autocomplete #autoSecuritySupervisors="matAutocomplete"
                        [displayWith]="showSelectedUser1">
        <mat-option *ngFor="let user of filteredUsers1 | async" [value]="user" (keyup.enter)="addSecuritySupervisors()" (click)="addSecuritySupervisors()">
          <span><strong>{{user['displayName']}}</strong> | {{user['jobTitle']}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-progress-bar mode="indeterminate" *ngIf="uploadingSecuritySupervisors"></mat-progress-bar>
      <ng-container *ngFor="let item of dbs.currentDataSecuritySupervisors | async">
        <div class="w3-border-bottom w3-border-lightgray" style="display:flex; align-items: center">
          <p class="w3-margin-left">{{item['displayName']}} | <span class="w3-small">{{item['jobTitle']}}</span></p>
          <span class="ms-fill"></span>
          <button mat-icon-button color="warn" (click)="deleteSecuritySupervisors(item['id'])"><mat-icon>delete</mat-icon></button>
        </div>
      </ng-container>
    </div>

  </div>
  
  
</div>    