<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">send</mat-icon> Reenviar solicitud de confirmación</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <p class="ms-font-roboto">¿Está seguro de reenviar la solicitud de confirmación?</p>
  
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-stroked-button mat-dialog-close class="w3-margin-right" color="warn">No</button>
  <button mat-raised-button color="primary" (click)="save()">Si, enviar</button>
</mat-dialog-actions>