<div class="animated fadeIn dalay-4 slower">
  <mat-toolbar style="background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364)">

    <button mat-icon-button style="color:white" (click)="toggleSideMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-container>
      <img src="../../assets/images/logo-highres.svg" alt="logo ferreyros" style="height:80%">
    </ng-container>
    <span class="ms-fill"></span>
    <div style="margin-right:1em">
      <button mat-icon-button style="color:white" (click)="toggleSideNotifications()">
        <mat-icon [matBadge]="auth.notifications.length" matBadgeColor="warn"
          [matBadgeHidden]="auth.notifications.length === 0">notifications</mat-icon>
      </button>
    </div>
    <div class="w3-hide-small" *ngIf="auth.userCRC">
      <button mat-stroked-button class="ms-font-3"
        style="font-size:0.7em;border-radius:15px;color:white;border-color:white"
        [matMenuTriggerFor]="menu">{{auth.userCRC.displayName}} <mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="ms-font-3" routerLink="configuration/users"
          *ngIf="auth.permits['configurationSection']">
          <mat-icon>settings_box</mat-icon> Configuración
        </button>
        <button mat-menu-item class="ms-font-3" (click)="auth.signOut()">
          <mat-icon>exit_to_app</mat-icon> Cerrar sesión
        </button>
        <button mat-menu-item class="ms-font-3" (click)="changePassword()">
          <mat-icon>vpn_key</mat-icon> Cambiar clave
        </button>
        <button mat-menu-item class="w3-small ms-font-3" disabled>version 1.2.14r</button>
      </mat-menu>
    </div>
    <div class="w3-hide-large w3-hide-medium">
      <button mat-icon-button color="primary" style="font-size:0.8em; border-radius:15px; color:white"
        [matMenuTriggerFor]="menuResponsive">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menuResponsive="matMenu">
        <button mat-menu-item class="ms-font-3 w3-border-bottom" style="margin-top:0px" disabled>
          <mat-icon>account_circle</mat-icon>
          {{(auth.userCRC.displayName === 'undefined')? '...':auth.userCRC.displayName}}
        </button>
        <button mat-menu-item class="ms-font-3" routerLink="configuration/users"
          *ngIf="auth.permits['configurationSection']">
          <mat-icon>settings_box</mat-icon> Configuración
        </button>
        <button mat-menu-item class="ms-font-3" (click)="auth.signOut()">
          <mat-icon>exit_to_app</mat-icon> Cerrar sesión
        </button>
        <button mat-menu-item class="ms-font-3" (click)="changePassword()">
          <mat-icon>vpn_key</mat-icon> Cambiar clave
        </button>
        <button mat-menu-item class="w3-small ms-font-3" disabled>version 1.2.14r</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container style="height:92vh">
    <mat-sidenav mode="over" #sideMenu [(opened)]="openedMenu" class="mat-elevation-z8">
      <div>

        <!-- <button mat-button class="w3-block" routerLink="dashboard"
          style="padding: 0.8em 0em 0em 1.2em;;text-align:left;font-weight:500" (click)="toggleSideMenu()">
          <mat-icon class="ms-menu-icon" style="vertical-align: middle;margin-right:0.2em;margin-left:0.25em">bar_chart
          </mat-icon> Dashboard
        </button><br> -->

        <mat-expansion-panel *ngIf="auth.permits['securitySection']"
          style="width:15em; box-shadow:none; border-radius:0px 0px 0px 0px" class="w3-border-top w3-border-light-grey"
          [ngClass]="{'ms-expansion-panel-menu':securityOpenedFlag}" (opened)="securityOpened()"
          (closed)="securityClosed()">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:500" [ngClass]="{'ms-expansion-panel-title':securityOpenedFlag}">
              <mat-icon style="vertical-align:middle; margin-right:0.3em">verified_user</mat-icon> Seguridad
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-button *ngIf="auth.permits['securityFred']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="security/fred"
            style="text-align:left;border-radius:0px 0px 0px 0px" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assistant</mat-icon> FRED
          </button>
          <button mat-button *ngIf="auth.permits['securityInspections']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="security/inspections"
            style="text-align:left;border-radius:0px 0px 0px 0px" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assignment_turned_in
            </mat-icon> Inspecciones
          </button>
          <button mat-button *ngIf="auth.permits['securityTasks']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="security/tasks"
            style="text-align:left;border-radius:0px 0px 0px 0px;padding-bottom:1em" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assignment</mat-icon> Tareas
          </button>
          <p class="w3-margin-bottom"></p>

        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="auth.permits['qualitySection']"
          style="width:15em; box-shadow:none; border-radius:0px 0px 0px 0px" class="w3-border-top w3-border-light-grey"
          [ngClass]="{'ms-expansion-panel-menu':qualityOpenedFlag}" (opened)="qualityOpened()"
          (closed)="qualityClosed()">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:500" [ngClass]="{'ms-expansion-panel-title':qualityOpenedFlag}">
              <mat-icon style="vertical-align:middle; margin-right:0.3em; border-radius:0px 0px 0px 0px">
                check_circle_outline</mat-icon> Calidad
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-button *ngIf="auth.permits['qualityRedos']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="quality/restorations"
            style="text-align:left;border-radius:0px 0px 0px 0px" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">repeat</mat-icon> Rehaceres
          </button>
          <button mat-button *ngIf="auth.permits['qualityInspections']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="quality/inspections"
            style="text-align:left;border-radius:0px 0px 0px 0px" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assignment_turned_in
            </mat-icon> Inspecciones
          </button>
          <button mat-button *ngIf="auth.permits['qualityTasks']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="quality/tasks"
            style="text-align:left;border-radius:0px 0px 0px 0px" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assignment</mat-icon> Tareas
          </button>
          <p class="w3-margin-bottom"></p>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="auth.permits['maintenanceSection']"
          style="width:15em;box-shadow:none;border-radius:0px 0px 0px 0px" class="w3-border-top w3-border-light-grey"
          [ngClass]="{'ms-expansion-panel-menu':maintenanceOpenedFlag}" (opened)="maintenanceOpened()"
          (closed)="maintenanceClosed()">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:500" [ngClass]="{'ms-expansion-panel-title':maintenanceOpenedFlag}">
              <mat-icon style="vertical-align: middle; margin-right:0.3em">build</mat-icon> Mantenimiento
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-button *ngIf="auth.permits['maintenanceRequests']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="maintenance/requests"
            style="text-align:left;border-radius:0px 0px 0px 0px;padding-bottom:1em" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">inbox</mat-icon> Solicitudes
          </button>
          <p class="w3-margin-bottom"></p>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="auth.permits['ssggSection']"
          style="width:15em;box-shadow:none; border-radius:0px 0px 0px 0px" class="w3-border-top w3-border-light-grey"
          [ngClass]="{'ms-expansion-panel-menu':ssggOpenedFlag}" (opened)="ssggOpened()" (closed)="ssggClosed()">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:500" [ngClass]="{'ms-expansion-panel-title':ssggOpenedFlag}">
              <mat-icon style="vertical-align: middle; margin-right:0.3em">extension</mat-icon> SSGG
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-button *ngIf="auth.permits['ssggRequests']"
            class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-amber" routerLink="ssgg/requests"
            style="text-align:left;border-radius:0px 0px 0px 0px;padding-bottom:1em" (click)="toggleSideMenu()">
            <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">inbox</mat-icon> Solicitudes
          </button>
          <p class="w3-margin-bottom"></p>

        </mat-expansion-panel>
      </div>
    </mat-sidenav>

    <!-- SIDENAV NOTIFICATIONS -->
    <mat-sidenav id="side-notifications" position="end" mode="over" #sideNotifications [(opened)]="openedNotifications"
      class="mat-elevation-z8" style="background:#f5f5f5">

      <mat-toolbar style="background:#333333">
        <p style="font-weight:700" class="ms-font-raleway ms-color-wt">Notificaciones</p>
        <span class="ms-fill"></span>
        <button mat-icon-button routerLink="notifications" class="ms-color-wt" matTooltip="Ver historial"  (click)="toggleSideNotifications()">
          <mat-icon>list_alt</mat-icon>
        </button>
      </mat-toolbar>

      <div *ngFor="let note of auth.currentDataNotifications | async"
        class="mat-elevation-z4 w3-round-large ms-notification-card">
        <div style="display:flex" class="ms-font-raleway">
          <div>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'task supervisor' || note['type'] === 'task staff nested 1' || note['type'] === 'task staff nested 2'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">assignment</mat-icon> Seguridad FRED
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'task done' || note['type'] === 'task done supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">assignment</mat-icon>Seguridad FRED
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'inspection observation responsible supervisor' || note['type'] === 'inspection observation area supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">assignment</mat-icon> Tarea - Seguridad Inspección
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'task confirmation'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" *ngIf="note['type'] === 'task confirmation'">offline_pin</mat-icon> Tarea - Seguridad FRED
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'confirmation'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" *ngIf="note['type'] === 'confirmation'">compare_arrows</mat-icon> Confirmar
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'inspection supervisor' || note['type'] === 'inspection staff'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" *ngIf="note['type'] === 'inspection supervisor' || note['type'] === 'inspection staff'">assignment_turned_in</mat-icon> Inspección - Seguridad
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo report supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Reporte
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo report technician'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Reporte
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo report quality supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Reporte
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo analyze supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Análisis
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo analyze involved supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Análisis
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo analyze responsible staff'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Análisis
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo analyze technician'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Análisis
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo analyze quality supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Análisis
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Acciones propuestas
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions involved supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Acciones propuestas
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions responsible staff'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Acciones propuestas
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions task responsible'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Responsable de tarea
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions task staff'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon> Rehacer - Observador de tarea
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions task validated'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle</mat-icon> Rehacer - Tarea validada
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions task restaured'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">settings_backup_restore</mat-icon> Rehacer - Tarea restaurada
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality redo actions request closing'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle</mat-icon> Rehacer - Conformidad de cierre
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'maintenance request supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">build</mat-icon> Mantenimiento - Solicitud
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'maintenance request broadcast'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">build</mat-icon> Mantenimiento - Solicitud
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality inspection supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle_outline</mat-icon> Calidad - Inspección
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality inspection inspector'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle_outline</mat-icon> Calidad - Inspección
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality inspection observation area supervisor' || note['type'] === 'quality inspection observation responsible supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle_outline</mat-icon> Calidad - Inspección observación
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'quality inspection single observation area supervisor' || note['type'] === 'quality inspection single observation responsible supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle_outline</mat-icon> Calidad - Observación personal
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'ssgg request ssgg supervisor'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">extension</mat-icon> Servicios generales - Solicitud
            </button>
            <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em" *ngIf="note['type'] === 'ssgg request'" disabled="true">
              <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">extension</mat-icon> Servicios generales - Solicitud
            </button>      
          </div>
          <span class="ms-fill"></span>
          <button mat-icon-button (click)="seen(note['id'])" >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div>

          <!-- TASK CONFIRMATION -->
          <div *ngIf="note['type'] === 'task confirmation'" class="ms-color-2b" style="padding-left:0.5em">
              <span><strong>{{note['senderName']}}</strong>, le asigno el siguiente FRED: <strong>{{note['subject']}}</strong>.</span><br>
            <p *ngIf="note['taskStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['taskStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateSecurityInspectionObservationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la tarea</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="reject(note['fredId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirm(note['fredId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Aceptar</button>
              <p  [ngClass]="{'w3-border-green w3-text-green': note['taskStatus']==='Confirmado', 'w3-border-red w3-text-red': note['taskStatus']==='Rechazado'}"
                  *ngIf="note['taskStatus'] != 'Por confirmar'"
                  class="w3-border"
                  style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['taskStatus']}}</p>
            </div>
          </div>

          <!-- TASK AREA SUPERVISOR / STAFF SUPERVISOR N1 / STAFF SUPERVISOR N2 -->
          <div *ngIf="note['type'] === 'task supervisor' || note['type'] === 'task staff nested 1' || note['type'] === 'task staff nested 2'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> asigno el siguiente FRED: <strong>{{note['subject']}}</strong> a <strong>{{note['staffName']}}</strong></span><br>
          </div>

          <!-- TASK DONE -->
          <div *ngIf="note['type'] === 'task done supervisor' || note['type'] === 'task done'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> creo el siguiente FRED: <strong>{{note['subject']}}</strong> a <strong>{{note['staffName']}}</strong> y lo marcó como resuelto.</span><br>
          </div>

          <!-- TASK BY INSPECTION OBSERVATION RESPONSIBLE SUPERVISOR-->
          <div *ngIf="note['type'] === 'inspection observation responsible supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> tuvo la siguiente observación: <strong>{{note['subject']}}</strong>, inspeccionando el área: <strong>{{note['areaName']}}</strong> y lo asignó como responsable</span><br>
            <p *ngIf="note['taskStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['taskStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateSecurityInspectionObservationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la tarea</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectSecurityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmSecurityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Aceptar</button>
                <p  [ngClass]="{'w3-border-green w3-text-green': note['taskStatus']==='Confirmado', 'w3-border-red w3-text-red': note['taskStatus']==='Rechazado'}"
                    *ngIf="note['taskStatus'] != 'Por confirmar'"
                    class="w3-border"
                    style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['taskStatus']}}</p>
            </div>
          </div>

          <!-- OBSERVATION AREA SUPERVISOR -->
          <div *ngIf="note['type'] === 'inspection observation area supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> tuvo la siguiente observación durante la inspección programada en su área: <strong>{{note['subject']}}</strong> y asigno al área : <strong>{{note['responsibleAreaName']}}</strong> como responsable</span>
          </div>

          <!-- INSPECTION SUPERVISOR -->
          <div *ngIf="note['type'] === 'inspection supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> programo a <strong>{{note['inspectorName']}}</strong> para inspeccionar su área el <strong>{{note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
          </div>
          <!-- INSPECTION STAFF -->
          <div *ngIf="note['type'] === 'inspection staff'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> lo programo para inspeccionar el área: <strong>{{note['areaName']}}</strong>, supervisada por: <strong>{{note['areaSupervisorName']}}</strong>. Debe realizar la inspección el <strong>{{ note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
          </div>

          <!-- REDO REPORT SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo report supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}}</strong>, abrió el siguiente rehacer en su área:</span><br>
            <ul>
              <li>
                <span>OT:<strong> {{note['OT']}}</strong></span>
              </li>
              <li>
                <span>Componente:<strong> {{note['component']}}</strong></span>
              </li>
            </ul>
          </div>
          <!-- REDO REPORT TECHNICIANS -->
          <div *ngIf="note['type'] === 'quality redo report technician'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrio el siguiente rehacer:</span>
            
            <ul class="w3-margin-top">
              <li>
                <span>OT:<strong> {{note['OT']}}</strong></span>
              </li>
              <li>
                <span>Componente:<strong> {{note['component']}}</strong></span>
              </li>
            </ul>
            <span class="w3-margin-top">Ya puede comenzar con el análisis del rehacer</span>
          </div>
          <!-- REDO REPORT QUALITY SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo report quality supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrio el siguiente rehacer:</span>
            
            <ul class="w3-margin-top">
              <li>
                <span>OT:<strong> {{note['OT']}}</strong></span>
              </li>
              <li>
                <span>Componente:<strong> {{note['component']}}</strong></span>
              </li>
            </ul>
            <span class="w3-margin-top">Los técnicos ya pueden comenzar con el análisis del rehacer</span>
          </div>

          <!-- REDO REPORT TO ANALYZE SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo analyze supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> analizó el rehacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra disponible</span>
          </div>
          <!-- REDO REPORT TO ANALYZE INVOLVED SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo analyze involved supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> analizó el rehacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y asigno su área como involucrada</span>
          </div>
          <!-- REDO REPORT TO ANALYZE RESPONSIBLE STAFF -->
          <div *ngIf="note['type'] === 'quality redo analyze responsible staff'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> analizó el reahacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y lo asigno como parte del personal responsable</span>
          </div>
          <!-- REDO REPORT TO ANALYZE TECHNICIAN -->
          <div *ngIf="note['type'] === 'quality redo analyze technician'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> analizó el rehacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong>.</span><br>
            <span class="w3-margin-top">Ahora ya puedes proponer acciones.</span>
          </div>
          <!-- REDO REPORT TO ANALYZE QUALITY SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo analyze quality supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> analizó el rehacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong>.</span><br>
            <span class="w3-margin-top"></span>
          </div>

          <!-- REDO ANALYZE TO ACTIONS SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo actions supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra disponible</span>
          </div>
          <!-- REDO ANALYZE TO ACTIONS INVOLVED SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality redo actions involved supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra disponible</span>
          </div>
          <!-- REDO ANALYZE TO ACTIONS RESPONSIBLE STAFF -->
          <div *ngIf="note['type'] === 'quality redo actions responsible staff'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra disponible</span>
          </div>

          <!-- REDO ACTIONS TASK RESPONSIBLE -->
          <div *ngIf="note['type'] === 'quality redo actions task responsible'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> lo asigno para atender la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span><br>
            <p  [ngClass]="{'w3-border-green w3-text-green': note['actionStatus']==='Confirmado', 'w3-border-red w3-text-red': note['actionStatus']==='Rechazado'}"
                *ngIf="note['actionStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['actionStatus']}}</p>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectQualityRedoAction(note['redoId'], note['responsibleId'], note['id'], note['taskId'])"
                *ngIf="note['actionStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmQualityRedoAction(note['redoId'], note['responsibleId'], note['id'], note['taskId'])"
                *ngIf="note['actionStatus'] === 'Por confirmar'">Confirmar</button>
            </div>
          </div>

          <!-- REDO ACTIONS TASK STAFF -->
          <div *ngIf="note['type'] === 'quality redo actions task staff'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> lo asigno como observador de la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span>
          </div>

          <!-- REDO ACTIONS TASK VALIDATED -->
          <div *ngIf="note['type'] === 'quality redo actions task validated'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> valido la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span>
          </div>

          <!-- REDO ACTIONS TASK RESTAURED -->
          <div *ngIf="note['type'] === 'quality redo actions task restaured'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> restauro la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong>. Ahora puede finalizar nuevamente la tarea</span>
          </div>

          <!-- REDO ACTIONS CLOSING REQUEST -->
          <div *ngIf="note['type'] === 'quality redo actions request closing'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> solicitó su confirmación para el cierre del rehacer del componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span><br>
            <p  [ngClass]="{'w3-border-green w3-text-green': note['requestStatus']==='Confirmado', 'w3-border-red w3-text-red': note['requestStatus']==='Rechazado'}"
                *ngIf="note['requestStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['requestStatus']}}</p>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectRequestClosing(note['redoId'], note['id'], note['signId'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmRequestClosing(note['redoId'], note['id'], note['signId'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Confirmar</button>
            </div>
          </div>

          <!-- QUALITY INSPECTION SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality inspection supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> programo a <strong>{{note['inspectorName']}}</strong> para inspeccionar su área el <strong>{{note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
          </div>

          <!-- QUALITY INSPECTION INSPECTOR -->
          <div *ngIf="note['type'] === 'quality inspection inspector'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> lo programo para inspeccionar el área: <strong>{{note['areaName']}}</strong>, supervisada por: <strong>{{note['areaSupervisorName']}}</strong>. Debe realizar la inspección el <strong>{{ note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
          </div>

          <!-- QUALITY INSPECTION OBSERVATION RESPONSIBLE SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality inspection observation responsible supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> tuvo la siguiente observación: <strong>{{note['subject']}}</strong>, inspeccionando el área: <strong>{{note['areaName']}}</strong> y lo asignó como responsable</span><br>
            <p *ngIf="note['taskStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
              realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['taskStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateQualityInspectionObservationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la observación</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectQualityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmQualityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Aceptar</button>
              <p  [ngClass]="{'w3-border-green w3-text-green': note['taskStatus']==='Confirmado', 'w3-border-red w3-text-red': note['taskStatus']==='Rechazado'}"
                *ngIf="note['taskStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['taskStatus']}}</p>
            </div>
          </div>

          <!-- QUALITY INSPECTION OBSERVATION AREA SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality inspection observation area supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> tuvo la siguiente observación durante la inspección programada en su área: <strong>{{note['subject']}}</strong> y asigno al área : <strong>{{note['responsibleAreaName']}}</strong> como responsable</span>
          </div>

          <!-- QUALITY INSPECTION SINGLE OBSERVATION RESPONSIBLE SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality inspection single observation responsible supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> lo asigno como responsable de la siguiente observación personal: <strong>{{note['subject']}}</strong>, en el área <strong>{{note['areaName']}}</strong></span><br>
            <p *ngIf="note['taskStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
              realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['taskStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateQualitySingleObservationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la observación</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectQualitySingleObservation(note['observationId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmQualitySingleObservation(note['observationId'], note['id'])"
                *ngIf="note['taskStatus'] === 'Por confirmar'">Aceptar</button>
              <p  [ngClass]="{'w3-border-green w3-text-green': note['taskStatus']==='Confirmado', 'w3-border-red w3-text-red': note['taskStatus']==='Rechazado'}"
                *ngIf="note['taskStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['taskStatus']}}</p>
            </div>
          </div>

          <!-- QUALITY INSPECTION SINGLE OBSERVATION AREA SUPERVISOR -->
          <div *ngIf="note['type'] === 'quality inspection single observation area supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> tuvo la siguiente observación personal en su área: <strong>{{note['subject']}}</strong> y asigno al área : <strong>{{note['responsibleAreaName']}}</strong> como responsable</span>
          </div>

          <!-- MAINTENANCE REQUEST SUPERVISOR-->
          <div *ngIf="note['type'] === 'maintenance request supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrió una solicitud de mantenimiento en el equipo: <strong>{{note['equipment']['name']}}</strong></span><br>
            <p *ngIf="note['requestStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['requestStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateMaintenanceRequestsConfirmationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la solicitud</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectMaintenanceRequest(note['requestId'], note['id'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmMaintenanceRequest(note['maintenanceRequestId'], note['id'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Aceptar</button>
            </div>
            <p  [ngClass]="{'w3-border-green w3-text-green': note['requestStatus']==='Confirmado', 'w3-border-red w3-text-red': note['requestStatus']==='Rechazado'}"
                *ngIf="note['requestStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['requestStatus']}}</p>
            <p class="ms-color-bt w3-small" *ngIf="note['requestStatus'] === 'Confirmado'">confirmado por: <b>{{note['confirmedBy']}}</b></p>
            <p class="ms-color-bt w3-small" *ngIf="note['requestStatus'] === 'Rechazado'">rechazado por: <b>{{note['rejectedBy']}}</b></p>
          </div>

          <!-- MAINTENANCE REQUEST BROADCAST-->
          <div *ngIf="note['type'] === 'maintenance request broadcast'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrió una solicitud de mantenimiento en el equipo: <strong>{{note['equipment']['name']}}</strong></span><br>
          </div>

          <!-- SSGG REQUEST -->
          <div *ngIf="note['type'] === 'ssgg request'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrió una solicitud de servicios generales en su área, indicando: <strong>{{note['resumen']}}</strong></span><br>
          </div>

          <!-- SSGG REQUEST SUPERVISOR-->
          <div *ngIf="note['type'] === 'ssgg request ssgg supervisor'" class="ms-color-2b" style="padding-left:0.5em">
            <span><strong>{{note['senderName']}} </strong> abrió una solicitud de servicios generales, indicando: <strong>{{note['resumen']}}</strong></span><br>
            <p *ngIf="note['requestStatus'] === 'Confirmado'" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización: 
              {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
            <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="note['requestStatus'] === 'Por confirmar'">
              <input matInput [matDatepicker]="datePicker" [formControl]="dateSsggRequestsConfirmationFormControl"
                [value]="note['estimatedTerminationDate']">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>
                <strong>Asigne una fecha de cumplimiento para la solicitud</strong> mm/dd/yyyy*
              </mat-hint>
            </mat-form-field>
            <div style="margin: 1em 0em 0.5em 0em">
              <button mat-raised-button class="w3-margin-right" color="warn"
                (click)="rejectSsggRequest(note['ssggRequestId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Rechazar</button>
              <button mat-raised-button class="w3-margin-right" color="primary"
                (click)="confirmSsggRequest(note['ssggRequestId'], note['areaSupervisorId'], note['id'])"
                *ngIf="note['requestStatus'] === 'Por confirmar'">Aceptar</button>
            </div>
            <p  [ngClass]="{'w3-border-green w3-text-green': note['requestStatus']==='Confirmado', 'w3-border-red w3-text-red': note['requestStatus']==='Rechazado'}"
                *ngIf="note['requestStatus'] != 'Por confirmar'"
                class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">{{note['requestStatus']}}</p>
            <p class="ms-color-bt w3-small" *ngIf="note['requestStatus'] === 'Confirmado'">confirmado por: <b>{{note['confirmedBy']}}</b></p>
            <p class="ms-color-bt w3-small" *ngIf="note['requestStatus'] === 'Rechazado'">rechazado por: <b>{{note['rejectedBy']}}</b></p>
          </div>


          
        </div>
        <div style="display:flex">
          
          <span class="ms-fill"></span>
          <p class="w3-small w3-text-gray" style="margin-top:0px">{{note['regDate'] | timeAgo}}</p>
        </div>

      </div>

      <div class="padding:1em 1em" *ngIf="auth.notifications.length === 0">
        <p style="font-size:1.5em" class="ms-color-bt ms-font-raleway w3-center"> No tiene notificaciones nuevas</p>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="w3-padding">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>