<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">assignment_turned_in</mat-icon> Agregar observación</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="w3-roung-large">
  <mat-vertical-stepper #stepperFRED class="w3-margin-top w3-round-large">
    <mat-step [stepControl]="headerDataFormGroup" errorMessage="Complete todos los campos requeridos" state="done">

      <ng-template matStepLabel>Cabecera</ng-template>

      <form [formGroup]="headerDataFormGroup">
        <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
          <mat-label>Área responsable</mat-label>
          <input matInput class="w3-white" type="text" placeholder="Seleccione..." formControlName="area" [matAutocomplete]="autoArea" autocomplete="off">
          <mat-autocomplete #autoArea="matAutocomplete"
                            (optionSelected)="setSelectedArea($event)"
                            [displayWith]="displayArea">
            <mat-option *ngFor="let area of filteredAreas | async" [value]="area">
              <strong>{{area['name']}}</strong> | <span class="w3-small">{{area['supervisor']['displayName']}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-hint *ngIf="!selectedArea['supervisor']['displayName']">
            <strong>requerido *</strong>
          </mat-hint>
          <mat-error>
            <strong>requerido *</strong>
          </mat-error>
          <mat-hint *ngIf="selectedArea['supervisor']['displayName']">
            {{selectedArea['supervisor']['displayName']}}
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
          <mat-label>Clase de Peligro</mat-label>
          <input matInput class="w3-white" type="text" placeholder="Seleccione..." formControlName="kindOfDanger" [matAutocomplete]="autoKindOfDanger" autocomplete="off">
          <mat-autocomplete #autoKindOfDanger="matAutocomplete">
            <mat-option *ngFor="let danger of filteredKindOfDanger | async" [value]="danger['name']">
              {{danger['name']}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            <strong>requerido *</strong>
          </mat-hint>
          <mat-error>
            <strong>requerido *</strong>
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
          <mat-label>Tipo de Observación</mat-label>
          <input matInput type="text" placeholder="Seleccione..." formControlName="kindOfObservation" [matAutocomplete]="autoKindOfObservation" autocomplete="off">
          <mat-autocomplete #autoKindOfObservation="matAutocomplete">
            <mat-option *ngFor="let observation of filteredKindOfObservation | async" [value]="observation['name']">
              {{observation['name']}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            <strong>requerido *</strong>
          </mat-hint>
          <mat-error>
            <strong>requerido *</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
          <mat-label>Causas</mat-label>
          <input matInput type="text" placeholder="Seleccione..." formControlName="cause" [matAutocomplete]="autoCause" autocomplete="off">
          <mat-autocomplete #autoCause="matAutocomplete">
            <mat-option *ngFor="let cause of filteredCauses | async" [value]="cause['name']">
              {{cause['name']}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            <strong>requerido *</strong>
          </mat-hint>
          <mat-error>
            <strong>requerido *</strong>
          </mat-error>
        </mat-form-field>

        <div class="w3-margin-top">
          <button mat-stroked-button matStepperNext>Siguiente</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="descriptionDataFormGroup" errorMessage="Complete todos los campos requeridos" state="done">

      <ng-template matStepLabel>Reseñas</ng-template>

      <form [formGroup]="descriptionDataFormGroup">
          <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
            <mat-label>Descripción de la observación</mat-label>
            <textarea matInput placeholder="Describa..." rows="4" formControlName="observationDescription"></textarea>
          </mat-form-field>
    
          <mat-form-field class="w3-margin-right w3-block" style="max-width:250px" appearance="outline">
            <mat-label>Conclusiones / Recomendaciones</mat-label>
            <textarea matInput placeholder="Describa..." rows="4" formControlName="recommendationDescription"></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" matTooltip="Agregar imagen" class="w3-margin-right" (click)="fileInput.click()"><mat-icon>add_photo_alternate</mat-icon></button>
          <input #fileInput style="display: none" type="file" (change)="onFileSelected($event)">

        <div>
          <button mat-stroked-button matStepperPrevious class="w3-margin-right w3-margin-top">Anterior</button>
        </div>

      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

<mat-dialog-actions class="w3-margin-top w3-margin-bottom" style="border-top: 1px solid lightgray;">
  <button mat-stroked-button color="warn" class="w3-margin-right"mat-dialog-close >Cancelar</button>
  <button mat-raised-button color="primary" (click)="addObservation()" [disabled]="!(headerDataFormGroup.valid && descriptionDataFormGroup.valid)">Crear</button>
</mat-dialog-actions>