<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">image</mat-icon> Imágenes</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <a href="{{data['finalPicture1']}}" target="_blank" class="w3-margin-bottom " style="cursor:pointer"
    *ngIf="data['finalPicture1']">
    <div style="max-width:450px;padding:6px 6px">
      <img src="{{data['finalPicture1']}}" style="max-width:100%" class="w3-card-4 w3-hover-shadow">
    </div>
  </a>

  <a href="{{data['finalPicture2']}}" target="_blank" class="w3-margin-bottom " style="cursor:pointer"
    *ngIf="data['finalPicture2']">
    <div style="max-width:450px;padding:6px 6px">
      <img src="{{data['finalPicture2']}}" style="max-width:100%" class="w3-card-4 w3-hover-shadow">
    </div>
  </a>

  <a href="{{data['finalPicture3']}}" target="_blank" class="w3-margin-bottom " style="cursor:pointer"
    *ngIf="data['finalPicture3']">
    <div style="max-width:450px;padding:6px 6px">
      <img src="{{data['finalPicture3']}}" style="max-width:100%" class="w3-card-4 w3-hover-shadow">
    </div>
  </a>

  <a href="{{data['finalPicture4']}}" target="_blank" class="w3-margin-bottom " style="cursor:pointer"
    *ngIf="data['finalPicture4']">
    <div style="max-width:450px;padding:6px 6px">
      <img src="{{data['finalPicture4']}}" style="max-width:100%" class="w3-card-4 w3-hover-shadow">
    </div>
  </a>

  
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</mat-dialog-actions>
