<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">check_circle</mat-icon> Aprobar acciones propuestas</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  
  <p class="ms-font-roboto">¿Está seguro de aprobar las siguientes acciones propuestas</p>
  <ul>
    <li *ngFor="let action of data['selection']">{{action['action']}}</li>
  </ul>
  
  <mat-progress-bar class="w3-margin-bottom" mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close >No</button>
  <button mat-raised-button color="primary" (click)="save()">Si, aprobar</button>
</mat-dialog-actions>
