<h1 class="ms-font-rubik ms-color-bt" style="font-size:1.3em" mat-dialog-title><mat-icon style="vertical-align:middle">vpn_key</mat-icon> Cambiar clave</h1>
<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-half">
      <mat-form-field class="w3-block w3-margin-right w3-margin-bottom" style="max-width:250px" appearance="outline">
        <mat-label>Nueva clave</mat-label>
        <!-- HERE DOWN :D-->
        <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
        <!-- THERE ABOVE ;)-->
        <input matInput
                [type]="toggle.type"
                required
                placeholder="Escriba..."
                [formControl]="password">
      </mat-form-field>
    </div>
    <div class="w3-half">
      <mat-form-field class="w3-block w3-margin-right w3-margin-bottom" style="max-width:250px" appearance="outline">
        <mat-label>Repita</mat-label>
        <!-- HERE DOWN :D-->
        <mat-pass-toggle-visibility #toggleRepeat matSuffix></mat-pass-toggle-visibility>
        <!-- THERE ABOVE ;)-->
        <input matInput
                [type]="toggleRepeat.type"
                required
                placeholder="Escriba..."
                [formControl]="passwordRepeat">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-bottom">
  <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" class="w3-margin-right" (click)="save()" [disabled]="loading || !samePassword">Guardar</button>
</mat-dialog-actions>