<div class="w3-container">
  <h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em">
    <mat-icon style="vertical-align:middle">delete</mat-icon> Borrar Inspección
  </h2>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <p class="ms-font-raleway ms-color-2b">¿Está seguro de borrar la Inspección?</p>
  </mat-dialog-content>
  <mat-dialog-actions class="w3-margin-bottom">
    <button mat-raised-button color="warn" style="margin:0em 0.5em 0em 0em" mat-dialog-close>Cancelar</button>
    <button mat-stroked-button color="primary" style="margin:0em 0.5em" (click)="delete()">Borrar</button>
  </mat-dialog-actions>
</div>