<h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em" mat-dialog-title><mat-icon style="vertical-align:middle">add_circle</mat-icon> Guardar análisis</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <p class="ms-font-roboto w3-margin-bottom">¿Está seguro de guardar el análisis?</p>
  <p class="ms-font-roboto" style="font-weight:500">* El documento se actualizará y pasará a la lista de análisis.</p>
  <p class="ms-font-roboto w3-margin-bottom" style="font-weight:500">* Recuerde que las áreas y personas seleccionadas, no podrán ser editadas más adelante.</p>

  <mat-checkbox [formControl]="sendNotificationsControl">Enviar notificaciones</mat-checkbox><br>

  <mat-progress-bar mode="indeterminate" style="margin-bottom:0.5em" *ngIf="uploading"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em"> </p>
  <mat-progress-bar mode="buffer" [value]="uploadPercent_initial | async" *ngIf="uploading_initial"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em" *ngIf="uploading_initial && data['initialImage']">{{uploadPercent_initial | async | number: '.2'}}/100 % ... Subiendo imagen</p>

  <mat-progress-bar mode="buffer" [value]="uploadPercent_2 | async" *ngIf="uploading_2"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em" *ngIf="uploading_2 && data['image_2']">{{uploadPercent_2 | async | number: '.2'}}/100 % ... Subiendo imagen</p>

  <mat-progress-bar mode="buffer" [value]="uploadPercent_3 | async" *ngIf="uploading_3"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em" *ngIf="uploading_3 && data['image_3']">{{uploadPercent_3 | async | number: '.2'}}/100 % ... Subiendo imagen</p>

  <mat-progress-bar mode="buffer" [value]="uploadPercent_4 | async" *ngIf="uploading_4"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em" *ngIf="uploading_4 && data['image_4']">{{uploadPercent_4 | async | number: '.2'}}/100 % ... Subiendo imagen</p>
  
  <mat-progress-bar mode="buffer" [value]="uploadPercent_5 | async" *ngIf="uploading_5"></mat-progress-bar>
  <p style="font-size:0.8em; margin-bottom:0.5em" *ngIf="uploading_5 && data['image_5']">{{uploadPercent_5 | async | number: '.2'}}/100 % ... Subiendo imagen</p>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-raised-button mat-dialog-close color="warn">No</button>
  <button mat-raised-button color="primary" (click)="save()">Si, guardar</button>
</mat-dialog-actions>