<h2 class="ms-font-rubik ms-color-bt" style="font-size:1.3em" mat-dialog-title><mat-icon style="vertical-align:middle">edit</mat-icon> Editar área</h2>
<mat-dialog-content>

  <mat-form-field class="w3-block ms-color-2b w3-margin-bottom" style="max-width:350px" appearance="outline">
    <mat-label>Nombre del área</mat-label>
    <!-- <mat-icon matPrefix style="vertical-align:middle;margin-right:0.5em">location_on</mat-icon> -->
    <input matInput type="text" placeholder="Escriba..." [formControl]="area" required>
    <mat-hint>
      <ng-container *ngIf="coincidence">
        El nombre: <strong>{{newAreaFormGroup.value['name']}}</strong> , ya existe en la lista de Áreas.
      </ng-container>
    </mat-hint>
    <mat-error>
      requerido*
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field class="w3-block ms-color-2b w3-margin-bottom"style="max-width:350px"  appearance="outline">
    <mat-label>Supervisor de Área</mat-label>
    <!-- <mat-icon matPrefix style="vertical-align:middle;margin-right:0.5em">supervised_user_circle</mat-icon> -->
    <input matInput type="text" placeholder="Seleccione..." [formControl]="supervisor" [matAutocomplete]="autoSupervisor" required>
    <mat-error>
      Seleccione un supervisor*
    </mat-error>
    <mat-autocomplete #autoSupervisor="matAutocomplete"
                      (optionSelected)="selectedSupervisor($event)"
                      [displayWith]="showSelectedSupervisor">
                      <mat-option *ngFor="let option of filteredUsers | async" [value]="option" style="font-size:14px">
                        <strong>{{option['displayName']}}</strong> | <span class="w3-small">{{option['jobTitle']}}</span> 
                      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
  <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" class="w3-margin-right" (click)="edit()">Editar</button>
</mat-dialog-actions>