<div class="w3-container">
  <h1 class="ms-font-rubik ms-color-bt" style="font-size:1.5em">
    <mat-icon style="vertical-align:middle">notifications</mat-icon> Notificaciones
  </h1>

  <div>
    <mat-tab-group>
      <mat-tab label="Historial">
        <h2 class="ms-font-rubik ms-color-bt" style="font-size:1em">Historial de notificaciones</h2>
        <div *ngFor="let note of auth.currentDataNotificationsComplete | async"
          class="mat-elevation-z4 w3-round-large ms-notification-card">

          <div style="display:flex; justify-content: space-between" class="ms-font-raleway">
            <div>
              <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em"
                *ngIf="note['type'] === 'task' || note['type'] === 'task supervisor'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" matTooltip="Tarea">
                  assignment</mat-icon> Tarea - Seguridad FRED
              </button>
              <button mat-button class="w3-small ms-color-2b" style="padding-left:0.5em"
                *ngIf="note['type'] === 'inspection observation supervisor'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" matTooltip="Tarea">
                  assignment</mat-icon> Tarea - Seguridad Inspección
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'task confirmation'"
                disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle"
                  matTooltip="Confirmar Tarea" *ngIf="note['type'] === 'task confirmation'">offline_pin</mat-icon>
                Confirmar tarea
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'confirmation'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle"
                  matTooltip="Confirmación" *ngIf="note['type'] === 'confirmation'">compare_arrows</mat-icon> Confirmar
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'inspection supervisor' || note['type'] === 'inspection staff'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle"
                  matTooltip="Inspección"
                  *ngIf="note['type'] === 'inspection supervisor' || note['type'] === 'inspection staff'">
                  assignment_turned_in</mat-icon> Inspección - Seguridad
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'quality redo report supervisor'"
                disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle" matTooltip="Tarea">
                  repeat</mat-icon> Rehacer - Calidad
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'quality redo analyze supervisor'"
                disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Análisis
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo analyze involved supervisor'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Análisis
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo analyze responsible staff'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Análisis
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'quality redo actions supervisor'"
                disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Acciones propuestas
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo actions involved supervisor'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Acciones propuestas
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo actions responsible staff'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Acciones propuestas
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo actions task responsible'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Responsable de tarea
              </button>
              <button mat-button class="w3-small ms-color-2b" *ngIf="note['type'] === 'quality redo actions task staff'"
                disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">repeat</mat-icon>
                Rehacer - Observador de tarea
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo actions task validated'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">check_circle
                </mat-icon> Rehacer - Tarea validada
              </button>
              <button mat-button class="w3-small ms-color-2b"
                *ngIf="note['type'] === 'quality redo actions task restaured'" disabled="true">
                <mat-icon matRipple mat-list-icon class="ms-color-2b" style="vertical-align:middle">
                  settings_backup_restore</mat-icon> Rehacer - Tarea restaurada
              </button>
            </div>
            <span class="ms-fill"></span>
            <div class="w3-hide-small">
              <button mat-icon-button class="w3-text-gray" (click)="unseen(note['id'])"
                *ngIf="note['status'] === 'seen'" matTooltip="Marcar como no leido">
                <mat-icon>radio_button_checked</mat-icon>
              </button>
              <button mat-icon-button class="w3-text-gray" (click)="seen(note['id'])"
                *ngIf="note['status'] === 'unseen'" matTooltip="Marcar como leido">
                <mat-icon>radio_button_unchecked</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteNotification(note['id'])"
                matTooltip="Borrar notificación">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div>
            <!-- TASK CONFIRMATION -->
            <div *ngIf="note['type'] === 'task confirmation'" class="ms-color-2b" style="padding:0em 1em">
              <span><strong>{{note['senderName']}}</strong>, le asigno el siguiente FRED:
                <strong>{{note['subject']}}</strong>.</span><br>
              <p *ngIf="note['estimatedTerminationDate']" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización:
                {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
              <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="!note['estimatedTerminationDate']">
                <input matInput [matDatepicker]="datePicker" [formControl]="dateSecurityFredFormControl"
                  [value]="note['estimatedTerminationDate']">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-hint>
                  <strong>Asigne una fecha de cumplimiento para la tarea</strong> mm/dd/yyyy*
                </mat-hint>
              </mat-form-field>
              <div style="margin: 1em 0em 0.5em 0em">
                <button mat-raised-button class="w3-margin-right" color="warn"
                  (click)="reject(note['fredId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="!note['estimatedTerminationDate']">Rechazar</button>
                <button mat-raised-button class="w3-margin-right" color="primary"
                  (click)="confirm(note['fredId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="!note['estimatedTerminationDate']">Aceptar</button>
              </div>
            </div>
            <!-- TASK SUPERVISOR -->
            <div *ngIf="note['type'] === 'task supervisor'" class="ms-color-2b" style="padding-left:0em 1em">
              <span><strong>{{note['senderName']}} </strong> asigno el siguiente FRED:
                <strong>{{note['subject']}}</strong> a <strong>{{note['staffName']}}</strong></span><br>
            </div>
            <!-- TASK BY INSPECTION OBSERVATION -->
            <div *ngIf="note['type'] === 'inspection observation supervisor'" class="ms-color-2b"
              style="padding:0em 1em">
              <span><strong>{{note['senderName']}}</strong>, tuvo la siguiente observación:
                <strong>{{note['subject']}}</strong>.</span><br>
              <p *ngIf="note['estimatedTerminationDate']" class="w3-small" style="margin-top:1em">Fecha propuesta de
                realización:
                {{note['estimatedTerminationDate'] | date : 'dd/MM/yyyy'}}</p>
              <mat-form-field class="w3-margin-right w3-margin-bottom" *ngIf="!note['estimatedTerminationDate']">
                <input matInput [matDatepicker]="datePicker"
                  [formControl]="dateSecurityInspectionObservationFormControl"
                  [value]="note['estimatedTerminationDate']">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-hint>
                  <strong>Asigne una fecha de cumplimiento para la tarea</strong> mm/dd/yyyy*
                </mat-hint>
              </mat-form-field>
              <div style="margin: 1em 0em 0.5em 0em">
                <button mat-raised-button class="w3-margin-right" color="warn"
                  (click)="rejectSecurityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="!note['estimatedTerminationDate']">Rechazar</button>
                <button mat-raised-button class="w3-margin-right" color="primary"
                  (click)="confirmSecurityInspectionObservation(note['inspectionId'], note['observationId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="!note['estimatedTerminationDate']">Aceptar</button>
              </div>
            </div>
            <!-- INSPECTION SUPERVISOR -->
            <div *ngIf="note['type'] === 'inspection supervisor'" class="ms-color-2b" style="padding:0em 1em">
              <span><strong>{{note['senderName']}} </strong> programo a <strong>{{note['inspectorName']}}</strong> para
                inspeccionar su área el <strong>{{note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
            </div>
            <!-- INSPECTION STAFF -->
            <div *ngIf="note['type'] === 'inspection staff'" class="ms-color-2b" style="padding:0em 1em">
              <span><strong>{{note['senderName']}} </strong> lo programo para inspeccionar el área:
                <strong>{{note['areaName']}}</strong>, supervisada por: <strong>{{note['areaSupervisorName']}}</strong>.
                Debe realizar la inspección el <strong>{{ note['inspectionDate'] | date: 'dd/MM/yyyy'}}</strong></span>
            </div>
            <!-- REDO CONFIRMATION SUPERVISOR -->
            <div *ngIf="note['type'] === 'quality redo report supervisor'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}}</strong>, abrio el siguiente rehacer en su área:</span><br>
              <ul>
                <li>
                  <span>OT:<strong> {{note['OT']}}</strong></span>
                </li>
                <li>
                  <span>Componente:<strong> {{note['component']}}</strong></span>
                </li>
              </ul>


              <p [ngClass]="{'w3-border-green w3-text-green': note['redoStatus']==='Confirmado', 'w3-border-red w3-text-red': note['redoStatus']==='Rechazado'}"
                *ngIf="note['redoStatus'] != 'Por confirmar'" class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block">{{note['redoStatus']}}</p>
              <div style="margin: 1em 0em 0.5em 0em">
                <button mat-raised-button class="w3-margin-right" color="warn"
                  (click)="rejectQualityRedo(note['redoId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="note['redoStatus'] === 'Por confirmar'">Rechazar</button>
                <button mat-raised-button class="w3-margin-right" color="primary"
                  (click)="confirmQualityRedo(note['redoId'], note['areaSupervisorId'], note['id'])"
                  *ngIf="note['redoStatus'] === 'Por confirmar'">Aceptar</button>
              </div>
            </div>
            <!-- REDO REPORT TO ANALYZE SUPERVISOR -->
            <div *ngIf="note['type'] === 'quality redo analyze supervisor'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> analizó el rehacer del componente:
                <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra
                disponible</span>
            </div>

            <!-- REDO ANALYZE TO ACTIONS SUPERVISOR -->
            <div *ngIf="note['type'] === 'quality redo actions supervisor'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente:
                <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra
                disponible</span>
            </div>
            <!-- REDO ANALYZE TO ACTIONS INVOLVED SUPERVISOR -->
            <div *ngIf="note['type'] === 'quality redo actions involved supervisor'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente:
                <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra
                disponible</span>
            </div>
            <!-- REDO ANALYZE TO ACTIONS RESPONSIBLE STAFF -->
            <div *ngIf="note['type'] === 'quality redo actions responsible staff'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> agrego la lista de acciones propuestas para el componente:
                <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong> y ya se encuentra
                disponible</span>
            </div>

            <!-- REDO ACTIONS TASK RESPONSIBLE -->
            <div *ngIf="note['type'] === 'quality redo actions task responsible'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> lo asigno para atender la tarea:
                <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT:
                <strong>{{note['OT']}}</strong></span><br>
              <p [ngClass]="{'w3-border-green w3-text-green': note['actionStatus']==='Confirmado', 'w3-border-red w3-text-red': note['actionStatus']==='Rechazado'}"
                *ngIf="note['actionStatus'] != 'Por confirmar'" class="w3-border"
                style="padding:8px; border-radius:10px; display:inline-block; margin-bottom:0px">
                {{note['actionStatus']}}</p>
              <div style="margin: 1em 0em 0.5em 0em">
                <button mat-raised-button class="w3-margin-right" color="warn"
                  (click)="rejectQualityRedoAction(note['redoId'], note['responsibleId'], note['id'], note['taskId'])"
                  *ngIf="note['actionStatus'] === 'Por confirmar'">Rechazar</button>
                <button mat-raised-button class="w3-margin-right" color="primary"
                  (click)="confirmQualityRedoAction(note['redoId'], note['responsibleId'], note['id'], note['taskId'])"
                  *ngIf="note['actionStatus'] === 'Por confirmar'">Confirmar</button>
              </div>
            </div>

            <!-- REDO ACTIONS TASK RESPONSIBLE -->
            <div *ngIf="note['type'] === 'quality redo actions task staff'" class="ms-color-2b"
              style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> lo asigno como observador de la tarea:
                <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT:
                <strong>{{note['OT']}}</strong></span>
            </div>

            <!-- REDO ACTIONS TASK STAFF -->
            <div *ngIf="note['type'] === 'quality redo actions task staff'" class="ms-color-2b" style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> lo asigno como observador de la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span>
            </div>

              <!-- REDO ACTIONS TASK VALIDATED -->
            <div *ngIf="note['type'] === 'quality redo actions task validated'" class="ms-color-2b" style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> valido la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong></span>
            </div>

            <!-- REDO ACTIONS TASK RESTAURED -->
            <div *ngIf="note['type'] === 'quality redo actions task restaured'" class="ms-color-2b" style="padding-left:0.5em">
              <span><strong>{{note['senderName']}} </strong> restauro la tarea: <strong>{{note['task']}}</strong> en el componente: <strong>{{note['component']}}</strong>, OT: <strong>{{note['OT']}}</strong>. Ahora puede finalizar nuevamente la tarea</span>
            </div>

          </div>
          <div style="display:flex; justify-content: space-between" style="padding:0em 1em">
            <p class="w3-small w3-text-gray">{{note['regDate'] | timeAgo}}</p>
            <span class="ms-fill"></span>
            <div class="w3-hide-large w3-hide-medium w3-small">
              <button mat-icon-button class="w3-text-gray" (click)="unseen(note['id'])"
                *ngIf="note['status'] === 'seen'" matTooltip="Marcar como no leido">
                <mat-icon>radio_button_checked</mat-icon>
              </button>
              <button mat-icon-button class="w3-text-gray" (click)="seen(note['id'])"
                *ngIf="note['status'] === 'unseen'" matTooltip="Marcar como leido">
                <mat-icon>radio_button_unchecked</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteNotification(note['id'])"
                matTooltip="Borrar notificación">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>