<div class="w3-container">
    <h2 class="ms-font-rubik ms-color-bt" mat-dialog-title style="font-size:1.3em">
      <mat-icon style="vertical-align:middle">add_circle</mat-icon> Proponer acciones
    </h2>
    <mat-divider></mat-divider>
    <mat-dialog-content>
  
      <form [formGroup]="actionsFormGroup">
  
        <h2 class="ms-font-rubik ms-color-bt" style="font-size:1.3em">Cabecera</h2>
        
        <mat-form-field class="w3-margin-right w3-block w3-margin-bottom" style="max-width:280px" appearance="outline">
          <mat-label>Acción propuesta</mat-label>
          <textarea type="text" matInput placeholder="Describa la acción o tarea que desea proponer ..." rows="4"
            formControlName="action" required></textarea>
          <mat-hint>
            <strong>requerido *</strong>
          </mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field class="w3-margin-right w3-block" style="max-width:280px" appearance="outline">
          <mat-label>Responsable</mat-label>
          <input type="text" matInput placeholder="Escriba y seleccione" formControlName="actionResponsible"
            [matAutocomplete]="autoActionResponsible" required>
          <mat-hint>
            <strong>requerido *</strong>
          </mat-hint>
        </mat-form-field>
        <mat-autocomplete #autoActionResponsible="matAutocomplete"
                          [displayWith]="showSelectedResponsible">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user" style="font-size:14px">
            <strong>{{user['displayName']}}</strong> | <span class="w3-small">{{user['jobTitle']}}</span>
          </mat-option>
        </mat-autocomplete>
        <br>
  
        <mat-form-field class="w3-margin-right w3-block w3-margin-bottom" style="max-width:280px" appearance="outline">
          <mat-label>Agregar personas</mat-label>
          <mat-chip-list #chipListActionsAdditionalStaff>
            <mat-chip *ngFor="let staff of actionsAdditionalStaffArray"
              [selectable]="selectable"
              removable="removable"
              (removed)="removeActionsAdditionalStaff(staff)"
              color="primary">
                {{staff['displayName']}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Escriba y seleccione"
              #actionsAdditionalStaffInput
              formControlName="actionsAdditionalStaff"
              [matAutocomplete]="autoActionsAdditionalStaff"
              [matChipInputFor]="chipListActionsAdditionalStaff"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addActionsAdditionalStaff($event)">
          </mat-chip-list>
          <mat-autocomplete #autoActionsAdditionalStaff="matAutocomplete" (optionSelected)="selectedActionsAdditionalStaff($event)">
            <mat-option *ngFor="let user of filteredAdditionalUsers | async" [value]="user">
              <strong>{{user['displayName']}}</strong> | <span class="w3-small">{{user['jobTitle']}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            requerido *
          </mat-hint>
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" class="w3-margin-bottom" (click)="addAction()" [disabled]="!actionsFormGroup.valid"><mat-icon>add_circle</mat-icon> Agregar</button>
  
        <h2 class="ms-font-rubik ms-color-bt" style="font-size:1.3em">Acciones propuestas</h2>
        
        
        <div class="mat-elevation-z8 w3-margin-top w3-round-large">
          <div class="w3-amber w3-round-large" style=" overflow:auto">
            <table mat-table [dataSource]="dataSourceActions" matSort style="width:100%; overflow:auto">

              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef style="background:#eaeaea;padding: 0px 1em 0px 1em">N°</th>
                <td mat-cell *matCellDef="let action; let i = index" style="color:#2b2b2b; padding: 0px 1em 0px 1em">
                  {{i+1}}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  style="background:#eaeaea;padding:0px 1em 0px 1em; border-left:1px solid lightgrey">Acción propuesta</th>
                <td mat-cell *matCellDef="let action"
                  style="color:#2b2b2b; padding:0px 1em 0px 1em; border-left:1px solid lightgrey">
                  <span class="w3-small">{{action['action']}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="actionResponsible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  style="background:#eaeaea;padding:0px 1em 0px 1em; border-left:1px solid lightgrey">Responsable</th>
                <td mat-cell *matCellDef="let action"
                  style="color:#2b2b2b; padding:0px 1em 0px 1em; border-left:1px solid lightgrey">
                  <span class="w3-small" style="font-weight:500">{{action['actionResponsible']['displayName']}}</span>
                  <ul style="margin-top:0px;margin-bottom:7px;padding-left:16px;">
                    <li class="w3-small">Puesto: {{action['actionResponsible']['jobTitle']}}</li>
                  </ul>
                </td>
              </ng-container>

              <ng-container matColumnDef="actionsAdditionalStaff">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  style="background:#eaeaea;padding:0px 1em 0px 1em; border-left:1px solid lightgrey">Personas adicionales</th>
                <td mat-cell *matCellDef="let action"
                  style="color:#2b2b2b; padding:0px 1em 0px 1em; border-left:1px solid lightgrey">
                  <ng-container *ngFor="let staff of action['additionalStaff']">
                    <span class="w3-small" style="font-weight:500">{{staff['displayName']}}</span>
                    <ul style="margin-top:0px;margin-bottom:7px;padding-left:16px;">
                      <li class="w3-small">Puesto: {{staff['jobTitle']}}</li>
                    </ul>
                  </ng-container>
                  
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef
                  style="background:#eaeaea;padding:0px 1.5em 0px 1em; border-left:1px solid lightgrey">
                  Acciones</th>
                <td mat-cell *matCellDef="let report"
                  style="color:#2b2b2b; padding:0px 1.5em 0px 1em; border-left:1px solid lightgrey">
                  <button mat-icon-button color="warn" matTooltip="Borrar acción"
                    (click)="deleteAction(i)">
                    <mat-icon>delete</mat-icon>
                  </button><br>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsActions; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsActions;"></tr>

            </table>
            <div class="w3-center w3-margin-bottom" *ngIf="actionsArray.length === 0">
              <p class="ms-font-raleway ms-font-bt" style="font-weight:500">Agregue una acción a la lista</p>
            </div>
          </div>
        </div>
  
      </form>

      <p style="height:50px" ></p>
  
    </mat-dialog-content>
    <mat-dialog-actions class="w3-margin-bottom">
      <button mat-raised-button color="warn" style="margin:0em 0.5em 0em 0em" mat-dialog-close>Cancelar</button>
      <button mat-stroked-button color="primary" style="margin:0em 0.5em 0em 0.5em" (click)="save()">Guardar</button>
    </mat-dialog-actions>
  </div>